name: Build VPK

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: vitasdk/vitasdk:latest

    steps:
      # Step 1: Checkout your code
      - uses: actions/checkout@v3

      # Step 2: Build the Vita app
      - name: Build App
        run: |
          mkdir build
          cd build
          cmake ..
          make

      # Step 3: Upload the compiled VPK artifact
      - name: Upload VPK
        uses: actions/upload-artifact@v4
        with:
          name: CSpotNext
          path: build/*.vpk
